<div class="dialog-inner">
  <div class="dialog-header">
    <mat-icon>{{ data.mode === 'edit' ? 'edit' : 'add' }}</mat-icon>
    <span>
      {{ data.mode === 'edit' ? ('store.dialog.editTitle' | translate) : ('store.dialog.createTitle' | translate) }}
    </span>
  </div>
  <div class="dialog-body">
    <form [formGroup]="storeForm" (ngSubmit)="onSave()">
      <div class="form-grid">
        <div class="grid-item">
          <mat-form-field appearance="outline" style="width: 100%;">
            <mat-label>{{ 'store.columns.productId' | translate }}</mat-label>
            <input matInput formControlName="productId" required />
          </mat-form-field>
        </div>
        <div class="grid-item">
          <mat-form-field appearance="outline" style="width: 100%;">
            <mat-label>{{ 'store.columns.dateOperation' | translate }}</mat-label>
            <input matInput type="date" formControlName="dateOperation" required />
          </mat-form-field>
        </div>
        <div class="grid-item">
          <mat-form-field appearance="outline" style="width: 100%;">
            <mat-label>{{ 'store.columns.quantity' | translate }}</mat-label>
            <input matInput type="number" formControlName="quantity" required min="0" />
          </mat-form-field>
        </div>
        <div class="grid-item">
          <mat-form-field appearance="outline" style="width: 100%;">
            <mat-label>{{ 'store.columns.prixVente' | translate }}</mat-label>
            <input matInput type="number" formControlName="prixVente" required min="0" />
          </mat-form-field>
        </div>
        <div class="grid-item grid-span-2">
          <mat-form-field appearance="outline" style="width: 100%;">
            <mat-label>{{ 'store.columns.comment' | translate }}</mat-label>
            <textarea matInput formControlName="comment"></textarea>
          </mat-form-field>
        </div>
      </div>
    </form>
  </div>
  <div class="dialog-footer">
    <button mat-button (click)="onCancel()">{{ 'common.cancel' | translate }}</button>
    <button mat-raised-button color="primary" (click)="onSave()" [disabled]="!storeForm.valid">
      {{ data.mode === 'edit' ? ('common.save' | translate) : ('common.new' | translate) }}
    </button>
  </div>
</div>
