.tarifs-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
}

.mat-table {
  background: #fff;
}

.mat-header-cell, .mat-cell {
  padding: 12px 8px;
}
