<mat-toolbar color="primary">
  <span>Kine Clinic</span>
  <span style="flex:1 1 auto"></span>
  <button mat-button routerLink="/patients">Patients</button>
  <button mat-button routerLink="/appointments">Rendez-vous</button>
  <button mat-button routerLink="/sessions">Séances</button>
  <button mat-button routerLink="/prescriptions">Ordonnances</button>
  <button mat-button routerLink="/staff">Personnel</button>
  <button mat-button routerLink="/billing">Facturation</button>
</mat-toolbar>
<div class="container">
  <router-outlet></router-outlet>
</div>
