<div class="login-container">
  <h2>Login</h2>
  <form (ngSubmit)="login()" #loginForm="ngForm" autocomplete="off">
    <div>
      <label for="username">Username</label>
      <input
        id="username"
        name="username"
        type="text"
        [(ngModel)]="username"
        required
        autocomplete="off"
      />
    </div>
    <div>
      <label for="password">Password</label>
      <input
        id="password"
        name="password"
        type="password"
        [(ngModel)]="password"
        required
        autocomplete="off"
      />
    </div>
    <div *ngIf="error" class="error">
      {{ error }}
    </div>
    <button type="submit" [disabled]="!loginForm.form.valid">Login</button>
    <div class="forgot-password">
      <a routerLink="/reset-password">Forgotten password?</a>
    </div>
  </form>
</div>
